@page
@model AppUi.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
    Layout = "_Layout";
}

<div style="background-color:darkblue; color:white;">
    <div class="container">
        <div class="row" style="padding-top:100px;">
            <div class="col-md-4 col-sm-12" style="text-align:right;">
                <img src="~/images/david.JPG" class="rounded-circle mt-4" width="150" height="150" />
                <h5>Pastor David E. Gregory</h5>
                <h6>President and Father</h6>

                <p style="font-size: 20px; font-family:'Comic Sans MS'; font-weight:bold">
                    "My passion is to serve the body of Christ by helping others to mature in their purpose and destiny in God. He wants to see these school children become leaders and world changers as they establish the kingdom of God in their own lives and families and then in the church, local businesses and the community"
                </p>
            </div>

            <div class="col-md-4 col-sm-12" style="text-align:center;">
                <img src="~/images/patrick.JPG" class="rounded-circle mt-4" width="150" height="150" />
                <h5>Mr. Patrick Baah</h5>
                <h6>Proprietor of School</h6>

                <p style="font-size: 20px; font-family:'Comic Sans MS'; font-weight:bold">
                    "Patrick's passion is to serve the body of Christ by helping others to mature in their purpose and destiny in God. He is passionate to help kids, orphans, less privileged children and youth discover their God given talent and potential to help them maximize into reality of living. He want to see these school children become leaders and world changers."
                </p>
            </div>

            <div class="col-md-4 col-sm-12" style="text-align:left;">
                <img src="~/images/KYSP2559.JPG" class="rounded-circle mt-4" width="150" height="150" />
                <h5>Mr. Emmanuel Arthur Forson</h5>
                <h6>School Secretary</h6>

                <p style="font-size: 20px; font-family:'Comic Sans MS'; font-weight:bold">
                    "Emmanuel's passion is to see these children establish the kingdom of God in their lives and families and then in the church, local businesses and the community. I believe that every child was born for a purpose. This means that no one on earth here is without a purpose. Challenges limit them from becoming their true selves."
                </p>
            </div>
        </div>
    </div>
</div>

<div style="background-image:url('/images/banner1.jpg'); background-size:cover; background-repeat:no-repeat; height: 300px; width:100%">
</div>

<div class="container" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <div class="row m-3">
        <div class="col">
            <h3 style="font-weight:bold">MISSION STATEMENT</h3>
            <p style="font-size:2rem;">Our mission is to train and mentor children to grow spiritually, morally and academically with creative minds, compassion for others, and courage to live by ideal principles.</p>
            <p class="mt-3" style="font-size:2rem;"><span style="font-weight:bold; color:darkblue">DEGCA</span> exist for the total development of every child in our care: spiritual, moral, intellectual, social, emotional, and physical. We have no interest in educating children merely to for good grades and employment or honorable positions. Rather, our delight is educating children to have self-identity, purpose for life, awareness of potential, leadership and moral integrity with an unwavering passion to live fulfilled life.</p>
        </div>
    </div>
</div>

<div style="background-image:url('/images/banner2.jpg'); background-size:cover; background-repeat:no-repeat; height: 300px; width:100%">
</div>

<div style="background-color:whitesmoke">
    <div class="container" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <div class="row m-3">
            <div class="col">
                <h3 style="font-weight:bold">VISION STATEMENT </h3>
                <ul style="font-size:2rem">
                    <li>The business of DEGCA as an educational institution is to train and mentor the ordinary Ghanaian children to discover their purpose and potential in life, and become visionaries whose services will collectively transform many other lives around the world.</li>
                    <li>DECGA believes every child has a unique destiny and precious potentials which if cultivated, will bless lives in generations. On the contrary, extremely large numbers of these wonderful children suffer the torment of unfulfilled life as a result complex challenges which kills such potential long before they are of age. </li>
                    <li>With a sense of urgency and great passion, we are determined to work out the welfare of these children in deprived communities, orphans, neediest children, street children, and the despairing ones in society. If the fulfillment of individuals like (Dr. Benjamin Carson, Myles Munroe, Nelson Mandela, Mother Teresa and a lot more others) can affect and bless us all around the world, then it is considerably inhuman to allow equally gifted children to suffer and perish in circumstances which are beyond their control.</li>
                    <li>While, we persist to create an enabling environment for these children, our educational curriculum and social program are intended to demystify the fear and feeling of unworthiness of some children for being poor, orphan, or on the streets. No circumstance should neither impose a limitation on their lives nor avert their destiny. The children entrusted in our care will be educated, be responsible, diplomatic and innovative.</li>
                    <li>Focusing on the (world of science, technology, sport, entrepreneurship, politics, etc.), we envision our children taking charge of global systems with the kingdom, This means that , DEGA  is  mentoring children who will grow up with the kingdom mindset in other to penetrate through the above mentioned world with the culture of heaven. This will help to protect the original system and the culture of God in the Garden of Eden and spearheading transformation of society through visionary, purposeful, and dynamic leadership. In these worlds, we will give the needed models and exemplary leadership through our students/mentees, and ensure they pass on leadership and mentorship to other people who will be their circles of influence. Thus the fruit of their service must produce people that are likeminded. </li>
                </ul>
            </div>
        </div>

        <div class="row m-3">
            <div class="col">
                <h4>Contact Us</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Telephone</th>
                                <th>Email Address</th>
                                <th>Postal Address</th>
                                <th>Facebook</th>
                                <th>LinkedIn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>+233 248-52-7444</td>
                                <td>davidegregory30@gmail.com</td>
                                <td>P. O. Box 81, Agona Nsaba, Central Region Ghana</td>
                                <td>
                                    <a href="web.facebook.com/DEGCAF/"><i class="fa fas fa-facebook"></i></a>
                                    <span>David E. Gregory Christian Academy</span>
                                </td>
                                <td>
                                    <a href="linkedin.com/in/patrick-baah-153642145">
                                        <i class="fa fas fa-linkedin"></i>
                                    </a>
                                    <span>Patrick Baah</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
