@page
@model AppUi.Pages.ChildImageModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChildImage</title>
</head>
<body>
</body>
</html>
