@page
@model AppUi.Pages.UserImageModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserImage</title>
</head>
<body>
</body>
</html>
