@model SupportingChildrenViewModel

@if (Model.Children.Count > 0)
{
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-calendar"></i>
            <span>Children supporting</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Children:</h6>

                @foreach (var child in Model.Children)
                {
                    <a class="collapse-item" href="@Url.Page("/Volunteer/Child", new { Id = child.Id })">
                        <i>
                            <img class="rounded-circle" width="40" height="40" src="@Url.Page("/ChildImage", new { Id = child.Id })"/>
                        </i>
                        <span>@child.Fullname</span>
                    </a>
                }
            </div>
        </div>
    </li>
}