@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "AccountLayout";
}


<!-- /.login-logo -->
<div class="login-box">
    <div class="login-logo">
        <a asp-page="./home"><b>DEGCA</b></a>
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">Register a new account</p>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="form-group has-feedback">
                <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </form>

        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <button type="submit" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign in using
                    Google+
                </button>
            </div>
        </form>
        <!-- /.social-auth-links -->
        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Already with an account, Login</a>

    </div>
</div>
<!-- /.login-box-body -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
